@import "../../styles/common";
@import "../../styles/mixins";

section {
  width: 100%;
  margin-bottom: 72px;
}

.caption--no-cards {
  position: absolute;
  width: 100%;
  padding: 0 16px;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: $transition-medium;
  
  h1 {
    margin-bottom: 16px;
  }
}

.button {
  &--new-card {
    position: fixed;
    bottom: $page-margin;
    left: 50%;
    height: $button-height;

    border-radius: 50px;
    font-size: 1.1em;
    transform: translateX(-50%);
    transition: $transition-medium;
    
    @include shadow();

    i {
      margin-right: 8px;
    }

    &.up {
      bottom: 40%;
    }
  }

  &--circle {
    position: fixed;
    bottom: $page-margin;
    right: $page-margin;
    transition: $transition-short;
  }
}

@media screen and (max-width: 768px) {  
  .button {
    &--new-card {
      bottom: $page-margin--small;
      height: $button-height--small;
    }

    &--circle {
      bottom: $page-margin--small;
      right: $page-margin--small;
    }
  }
}
