@import "../../styles/common.scss";

.editable-label-wrapper {
  margin: 6px 8px;
}

input,
span {
  box-sizing: border-box;
  display: block;
  padding: 2px 6px;

  overflow: hidden;
  color: inherit;
  font-size: 1.5em;
  font-weight: bold;
  border: none;
  text-align: center;
  cursor: text;
}

span {
  margin: 0 6px;
  padding: 2px 0;
}