.editable-label-wrapper {
  margin: 6px 8px;
}

.disabled {
  padding: 0;
  max-height: 0;
  opacity: 0;
  border: none;
  pointer-events: none;
}

input,
span {
  display: block;
  padding: 4px 6px;

  overflow: hidden;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  color: inherit;
  cursor: text;
}

span {
  margin: 0 6px;
  padding: 4px 0;
}