@import "./variables";
@import "./flex";
@import "./mixins";

body {
  background-color: $bg-color--lvl-0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/* Inputs */
input {
  box-shadow: inset 0 2px 6px -3px $color--shadow;
  border-radius: $input-border-radius;
  color: $color--primary;
  font-weight: bold;
  font-size: 1.3em;
  border: none;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px $color--primary;
  }

  &::placeholder {
    color: $color--placeholder;
    font-weight: normal;
  }
}

/* Buttons */
button {
  padding: 0 16px;
  cursor: pointer;
  border: none;
  @include flex-v-center();
  @include flex-h-center();
}

.button {
  &--circle {
    width: $circle-button-size;
    height: $circle-button-size;
    border-radius: 100%;
    
    @include shadow();
  }
  
  &--close {
    position: absolute;
    top: 0px;
    right: 8px;
    width: $close-button-height;
    height: $close-button-height;

    @include hidden();
  }

  &--color-primary {
    background-color: hsl(210, 29%, 24%);
    color: hsl(0, 0%, 95%);
  }
  
}

.whitespace-no-wrap {
  white-space: nowrap;
}

/* Disable number input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.visible {
  @include visible();
}

.hidden {
  @include hidden();
}

@media screen and (max-width: 786px) {
  button {
    outline: none;
  }
  
  .button {
    &--circle {
      width: $circle-button-size--small;
      height: $circle-button-size--small;
    }
  } 
}