@mixin shadow() {
  box-shadow: 0 4px 10px -4px #666;
}

@mixin flex-v-center {
  display: flex;
  align-items: center;
}

@mixin flex-h-center {
  display: flex;
  justify-content: center;
}

@mixin visible() {
  opacity: 1;
  transform: scale(1);
  pointer-events: initial;
}

@mixin hidden() {
  opacity: 0;
  transform: scale(0.5);
  pointer-events: none;
}