/* Colors */
$bg-color--lvl-0: #fbfbfb;
$bg-color--lvl-1: #f7f7f7;

$color--primary: #2c3e50;
$color--accent: #42b883;
$color--border: #cccccc;
$color--label: #999;
$color--placeholder: #d9d9d9;

$text-color--primary: #f2f2f2;

/* Size */
$border-radius: 6px;
$card-max-width: 350px;
$card-height: 250px;

/* Time */
$transition-short: 200ms;
$transition-medium: 300ms;
