@import '../../styles/animations';
@import '../../styles/common';
@import '../../styles/mixins';

.card {
  position: relative;
  padding: 8px;
  margin: 8px;
  height: 250px;
  max-width: 350px;

  overflow: hidden;
  background-color: $bg-color--lvl-1;
  border-radius: $border-radius;
  cursor: initial;
  transition: $transition-short;

  /* For animating purposes */
  width: 0;
  transform: scale(0.5);
  opacity: 0;

  animation: show-card;
  animation-duration: $transition-medium;
  animation-fill-mode: forwards;
  
  @include shadow();

  &:hover{
    .button--close {
      top: 8px;
      @include visible();
    }
  }
}

.animation-close-card {
  animation: close-card;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

.button--close {
  background-color: $bg-color--lvl-1;
  border: none;
  border-radius: $border-radius;
  transition: inherit;
  cursor: pointer;
}

section {
  margin-bottom: 16px;

  & + section {
    margin-bottom: 24px;
  }

  &:last-child {
    margin-bottom: 0px;
  }
}

.input-wrapper {
  margin: 0 16px;

  label {
    font-size: 0.9em;
    color: $color--label
  }

  input {
    display: block;
    width: 100px;
    padding: 8px 6px;
    margin-right: 4px;

    text-align: left;
  }
}

.ratio-wrapper {
  .ratio {
    font-size: 1.5em;
    font-weight: bold;
    margin: 8px 0;
  }
}

// Tablets
@media screen and (max-width: 768px) {
  .card {
    .button--close {
      top: 8px;
      @include visible();
    }
  }

  .input-wrapper {
    input {
      display: block;
      width: 100px;
    }
  }
}

@media screen and (max-width: 350px) {
  .input-wrapper {
    input {
      display: block;
      width: 80px;
    }
  }
}