
.card {
  position: relative;
  padding: 8px;
  margin: 16px;
  height: 250px;
  max-width: 350px;

  overflow: hidden;
  border: 1px solid hsl(0, 0%, 80%);
  background-color: hsl(0, 0%, 95%);
  border-radius: 6px;
  cursor: initial;
  transition: 200ms;

  /* For animating purposes */
  width: 0;
  transform: scale(0.5);
  opacity: 0;

  animation: show;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@keyframes show {
  0% {
    width: 0px;
    height: 0px;
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    width: 100%;
    height: 250px;
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    width: 100%;
    height: 250px;
    transform: scale(1);
    opacity: 1;
  }
}

.animate-close {
  animation: close;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@keyframes close {
  0% {
    width: 350px;
    height: 250px;
    transform: scale(1);
    opacity: 1;
  }
  50% {
    width: 350px;
    height: 250px;
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    width: 0px;
    height: 0px;
    margin: 0;
    padding: 0;
    border: 0;
    transform: scale(0.5);
    opacity: 0;
  }
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: none;
  border: none;
  opacity: 0;
  transform: scale(0.5);
  transition: inherit;
  cursor: pointer;
}

section {
  margin-bottom: 24px;
}

section:last-child {
  margin-bottom: 12px;
}

.input-wrapper {
  margin: 0 16px;
}

input {
  box-sizing: border-box;
  display: block;
  width: 100px;
  padding: 8px 6px;
  margin-right: 4px;

  font-size: 1em;
  border: none;
  text-align: left;
}

label {
  font-size: 0.9em;
  color: hsl(0, 0%, 60%);
}

.ratio-wrapper > span {
  font-size: 1.2em;
}

.ratio {
  font-size: 1.5em;
  font-weight: bold;
  margin: 8px 0;
}

.card:hover > .close {
  opacity: 1;
  transform: scale(1);
}

/* Disable number input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}